@import "./Global.scss";

.pageStyle {
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    background-color: $GreenBlack;
    display: flex;
    flex-direction: column;
    align-items: center;
}
