@import "./Global.scss";

.GameForm {
    height: 100%;
    width: 30rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 1px solid $GreenMid;
    color: $GreenMid;
    font-family: $font;    
}

.GameForm__Entry {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.GameForm__Label {
    text-align: center;
}

.GameForm__Input {
    height: 1.5rem;
    border: 1px solid $GreenMid;
    color: $GreenMid;
    background-color: $GreenBlack;
    font-family: $font;
}

.GameForm__Button {
    @include button;
    padding: 0.4rem;
    border: 1px solid $GreenMid;
    color: $GreenMid;
    background-color: $GreenBlack;
    font-family: $font;
}

.GameForm__Error {
    margin: 16px 0 0 0;
    color: $GreenLight;
}