@import "./Global.scss";

.MatrixBackground {
    height: 100%;
    width: 100vw;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: $GreenBlack;
    z-index: -1;
    font-family: $font;
    overflow: hidden;
    display: flex;
}

.Matrix__LetterBox {
    color: $GreenDark;
    // animation: mymove 5s linear infinite;
}

.Matrix__Letter {
    margin: 1px;
}

@keyframes letterFall {
    from {
        transform: translateY(-2000px);
    }
    to {
        transform: translateY(1000px);
    }
}

@keyframes colorChangeDark {
    from {
        color: $GreenDark;
    }
    to {
        color: $GreenMid;
    }
}

@keyframes colorChangeLight {
    from {
        color: $GreenMid;
    }
    to {
        color: $GreenXL;
    }
}
