@import "./Global.scss";

.MatrixBackground {
    height: 100%;
    max-width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: $GreenBlack;
    z-index: -1;
    font-family: $font;
    overflow: hidden;
    display: flex;
}

.MatrixBackground--Victory {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $GreenBlack;
    z-index: 1;
    font-family: $font;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.MatrixBackground__VictorySegment {
    display: flex;
    align-items: flex-end;
    margin-bottom: 50vh;
}

.Matrix__Letter {
    margin: 1px;
}

@keyframes letterFall {
    from {
        transform: translateY(-2000px);
    }
    to {
        transform: translateY(1000px);
    }
}

@keyframes letterFallVictory {
    from {
        transform: translateY(-1000px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes colorChangeDark {
    from {
        color: $GreenDark;
    }
    to {
        color: $GreenMid;
    }
}

@keyframes colorChangeLight {
    from {
        color: $GreenDark;
    }
    to {
        color: $GreenXL;
    }
}

@keyframes colorChangeVictory {
    from {
        color: red;
    }
    to {
        color: purple;
    }
}
