@import "./Global.scss";

$border: 1px;

%positioning {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    border-collapse: collapse;
    font-family: $font;
    color: $GreenMid;
}

td {
    border: 1px solid $GreenMid;
}

.won {
    color: $GreenXL;
}

.lost {
    color: $GreenDark;
}

.pairing__player {
    text-align: center;
    height: 2rem;
}
.pairing__name {
    width: 13rem;
}
.pairing__score {
    text-align: center;
    width: 3rem;
}
.pairing__win {
    text-align: center;
    width: 3rem;
}
