@import "./Global.scss";

.Player__Wrapper {
    border: 1px solid $GreenMid;
    background: $GreenBlack;
    width: 15rem;
    height: 14rem;
    color: $GreenMid;
    font-family: $font;
    font-size: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Player__Score {
    font-size: 4rem;
    margin: 5px 0 10px 6px;
}

.Player__Button {
    @include counterButton;
    width: 3rem;
    height: 3rem;
    border: 1px solid $GreenMid;
    font-size: 2.5rem;
    font-family: "Courier New", Courier, monospace;
    border-radius: 100%;
    transition: ease-in-out;    
}