@import "./Global.scss";

// wrapper styles
.Roster__Wrapper {
    background: $GreenBlack;
    width: 30rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 1px solid $GreenMid;
    color: $GreenMid;
    font-family: $font;
    text-align: center;
}
.Roster__Header {
    margin-top: 0px;
    font-size: 27px;
}

.Roster__TableHeader {
    height: 1.5rem;
}
.Roster__TableData {
    height: 1.5rem;
}

// table head styles
.Roster__TableHead-No {
    width: 1rem;
}
.Roster__TableHead-Name {
    width: 25rem;
}
.Roster__TableHead-Delete {
    width: 1.5rem;
}


// button style
.Roster__TableData-deletebutton {
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background: $GreenBlack;
    color: $GreenMid;
    font-family: $font;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;    
    width: 100%;
    height: 100%;
    padding-bottom: 2px;
}

.Roster__TableData-deletebutton:hover {
    animation: deletePress 0.2s linear 1;
    animation-fill-mode: forwards;
}

@keyframes deletePress {
    from {
        outline: 1px $GreenMid solid;
        color: $GreenMid;
        background-color: $GreenBlack;
    }
    to {
        outline: 1px $GreenXL solid;
        color: $GreenXL;
        background-color: $GreenDark;
    }
}
