@import "./Global.scss";

// wrapper styles
.Roster__Wrapper {
    width: 30rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 1px solid $GreenMid;
    color: $GreenMid;
    font-family: $font;
    text-align: center;
}
.Roster__Header {
    margin-top: 0px;
    font-size: 27px;
}

.Roster__TableHeader {
    height: 1.5rem;
}
.Roster__TableData {
    height: 1.5rem;
}

// table head styles
.Roster__TableHead-No {    
    width: 1rem;    
}
.Roster__TableHead-Name {
    width: 25rem;
}
.Roster__TableHead-Delete {
    width: 1.5rem;
}

// button style
.Roster__TableData-deletebutton {
    @include button;
    width: 100%;
    margin-bottom: 2px;
}
