@import "./Global.scss";

td {
    height: 1rem;
    text-align: center;
    padding: 6px 0;
}

th {
    padding: 0 0 6px 0;
}

.Roster__Wrapper {
    width: 30rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 1px solid $GreenMid;
    color: $GreenMid;
    font-family: $font;
}

.Roster__Header {
    font-size: 25px;
    padding: 0 0 2rem 0;
}

.Roster__List {
    list-style: none;
}

.Roster__Header {
    text-align: center;
    margin: 0px;
}

.Roster__Delete {
    padding: 0;
}

.Roster__DeleteButton {
    @include button;
    width: 100%;
    height: 100%;    
}
